/* Task list */
.task-list {
  margin-top: 2rem;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.task-card {
  background-color: #1e3a5f;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.task-header {
  font-weight: bold;
  cursor: pointer;
}

.task-content {
  margin-top: 1rem;
}

.task-description {
  font-weight: 300;
  font-size: 15px;
}

.copy-btn {
  margin-top: 1rem;
  background-color: #38b000;
  color: #fff;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.completed {
  border-left: 4px solid #2dc653;
  background-color: #294f6d;
}
