.copy-panel {
  background-color: #1e1e1e;
  color: #dcdcdc;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 1rem;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;

  white-space: pre-wrap;
  line-height: 1.5;
  overflow-x: auto;
  max-height: 500px;
  margin-top: 1rem;
  word-wrap: break-word;
  text-align: start;
}
